@font-face {
    font-family: Arial; 
    src: url('font/Arial.eot') format("eot"),
        url('font/Arial.ttf') format("truetype"),
        url('font/Arial.woff') format("woff"),
        url('font/Arial.otf') format("openType");
}
@font-face {
font-family: 'Nauman'; 
    src: url('font/Nauman_Regular.otf') format("openType"),
        url('font/nauman_regular.eot') format("eot"),  
        url('font/nauman_regular.ttf') format("truetype");
}
*{
    /* outline: 1px solid blue; */
} 
html{
    font-size: 10px;
    font-family: Arial,'Microsoft JhengHei';
    /* vertical-align: middle; */

}


/*顏色總控*/
.deepblue{
    color: #1862DB;
}
.white{
    color: #fff;
}
.gray{
    color:#484848;
}
.oblue_bg{
    background-color: #1EB7CD;
}
/*文字總控*/
h1{
    font-size: 55px;
    font-family: 'Nauman';
}
h2{
    font-size: 3rem;
}

.fz_30{
    font-size: 3rem;
}
.fz_20{
    font-size: 2rem;  
    /* color: #2E2E2E;  */
}
.fz_16{
    font-size: 1.6rem;
}
/* line-height */
.lh_21{
    line-height: 2.1;
}
.lh_16{
    line-height: 1.6;
}

a{
    text-decoration: none;
}
.border_r{
    border-radius: 4px 15px 4px 15px;
}
i{
    font-size: 14px;
}
.btn{
    display: inline-block;
    width: 74px;
    font-size: 16px;
    font-weight: blod;
    padding: 12px 36px;
    letter-spacing: 2px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.35);
}

/* 屬性控制 */
.mw_1200{
    max-width: 1200px;
    margin: auto;
}
.m_a{
    margin: auto;
}
.ptb_60{
    padding: 60px 0;
}
.pt_20{
    padding-top: 20px;
}
.v_m{
    vertical-align: middle;
}
.ta_c{
    text-align: center;
}
.fw_7{
    font-weight: 700;
}
.d_f{
    display: flex;
}
/* grid */
.col_12{
    width: 100%;
}
/* 開始header */
@media screen and (min-height:1200px){
header{
    background-image: url('../img/header_bg.svg');
    background-repeat: no-repeat;
    /* background-size: 560px 260px; */
    background-position: right top;
    padding-bottom: 30%;
    /* background-size: 100%; */
}
nav{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    height: 74px;
    font-size: 0; /*除去4px*/
}
.nav_menu{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

}
.nav_txt>li>a{
    font-size: 16px;
    line-height: 32px;
}
.nav_txt>li>a:hover{
    color: #1EB7CD;
    font-weight: 700;
}
nav img{
    width: 120px;
}
.f_1{
    flex: 1;
}
nav li{
    float: left;
}
nav li a{
    display: inline-block;
    padding: 0 0 0 20px;
    color: #484848;   
}
.nav_icon{
    padding-left: 12px;
}
.material-icons{
    color: #484848;
    box-sizing: border-box;
}
/* header_banner */
.nav_side{
    align-self: center;
}
.side_circle{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #96DDE7; 
    position: relative;
    margin-bottom: 32px;
}
.fill_circle{
    background-color: #96DDE7; 
}
.banner{
    padding: 60px 0;
}
.banner_txt{
    width: 51.0833%;
    max-width: 382px;
    padding: 5% 5% 0 5%;
}
.banner_txt p:first-of-type{
    padding: 10px 0 20px 0;
}
.banner_txt a{
    margin: 5% 5% 0 0;
}
/* Slideshow container */
.slideshow-container {
    max-width: 600px;
    position: relative;
    /* margin: auto; */
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
  /* The dots/bullets/indicators */
.dot {
    height: 12px;
    width: 12px;
    margin: 0 2px;
    border: 1px solid #1862DB;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active {
    background-color: #1862DB;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {opacity: .7
/* transform: translate */
} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .7
/* transform: translate */
} 
    to {opacity: 1}
}
.banner_mail{
    display: inline-block;
    font-family: 'Nauman',Arial,'Microsoft JhengHei';   
    color: #1862DB;
    padding-left: 19.16666667%;
    letter-spacing: 2px;
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
}
}
/* s1 */
.s1_bg{
    background-image: url('../img/service_bg.png');
    height: 1000px;
}
.s1_circle {
    display: inline-block;
    background: #1862db;
    width: 120px;
    height: 120px;
    border-radius: 50% 50%;
    text-align: center;   
}
.s1_circle i{
    line-height: 120px;
    font-size: 60px;
    color: #fff;
}
.s1_circle+p{
    color: #1862DB;
    font-weight: 700;
}
.s1_content{
    width: 60%;
    justify-content: space-around;

}
.s1 h2+div{
    margin-top: 60px;
}
/*******  s2  *********/
.s2{
    height: 1000px;
}
.test{
    /* flex-wrap: wrap; */
    padding: 30px;
    
}
.test2{
    justify-content: flex-end;
}
/*******  media query  *********/

    header{
        background-image: none;
        padding-bottom: 0;
    }
    .nav_side,.banner_mail{
        display: none;
    }
    .banner_content{
        position: relative;
    }
    .banner_txt{
        position: absolute;
        top: 0;
        z-index: 1;
        width: 100%;
    }
    .banner_txt p:nth-child(3){
        display: none;
    }

    .s1 h2+div{
        flex-direction: column;
        text-align: center;
    }
    .s1 h2{
        padding-top: 60px;
    }
    .s1 h2+div{
        flex-direction: column;
        text-align: center;
    }
    .s1_content div:last-child,.s1_content div:nth-of-type(2){
        margin-top: 30px;
    }
/*
@media screen and (max-width: 767px) {
    header{
        background-image: none;
        padding-bottom: 0;
    }
    .nav_side,.banner_mail{
        display: none;
    }
    .banner_content{
        position: relative;
    }
    .banner_pic{
        width: 100%;
    }
    .banner_txt{
        position: absolute;
        top: 10%;
        z-index: 1;
        width: 100%;
    }
    .banner_txt p:nth-child(3){
        display: none;
    }
    .s1 h2{
        padding-top: 60px;
    }
    .s1 h2+div{
        flex-direction: column;
        text-align: center;
    }
    .s1_content div:last-child,.s1_content div:nth-of-type(2){
        margin-top: 30px;
    }
}
@media screen and (max-width: 1199px){
    header{
        background-image: none;
        padding: 0 0 2% 0;
    }
    .nav_side,.banner_mail{
        display: none;
    }
    .banner_content{
        position: relative;
    }
    .banner_pic{
        width: 100%;
    }
    .banner_txt{
        position: absolute;
        top: 0;
        z-index: 1;
    }
    .s1_content{
        width: 75%;
    }
    .s1 h2{
        padding-top: 60px;
    }
} */